*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background: #FFF;
    font-family: "Montserrat", sans-serif;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 350px;
    border: 1px solid #f2f2f2;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: white;
    
}
.logo-five{
    padding: 10px;
    height: 100px;
}

.input-container{
    position: relative;
    width: 337px;
    
    
}

.input-container i{
    position: absolute;
    left: 11px;
    top: 50%;
    font-size: 20px;
    font-weight: 900px;
    pointer-events: none;
    transform: translateY(-50%)
    
}

.input-container input{
    width: 100%;
    padding: 9px 105px 9px 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #ccc;
}

.input-container ::placeholder{
    font-weight: 600px;
    font-size: 12px;
}

.header-icons{
    display: flex;
    height: 48px;
    gap: 10px;
    margin-left: -20px;
}

.header-icons img{
    height: 30px;
}

.header-icons i{
    font-size: 20px;
   border: 1px solid #4bcaa0;
   height: ;
   border-radius: 6px;
   width: 30px;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   
}

.left-container{
   position: fixed;
   top: 70px;
   z-index: 1000;
   

}
.dashboard,
.job-posting,
.candidate,
.pipeline,
.interview,
.messages,
.profile-setting{
    display: flex;
    gap: 10px;
    font-size: 13px;
}
.left-container-div,
.others,
.hiring,
.communication,
.account{
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}
.left-container-div{
   padding: 70px; 
   
}

.others,
.hiring,
.communication{
    border-bottom: 1px solid #e2e2e2 ;
    width: 220px;
    
}

.others,
.hiring,
.communication,
.account  {
    font-size: 17px;
    color: #8f8f8f;
}

.others a {
    text-decoration: none;
    color: #7f7f7f;
}
.hiring a {
    text-decoration: none;
    color: #7f7f7f;
}
.communication a{
   text-decoration: none;
    color: #7f7f7f; 
}

.account a {
    text-decoration: none;
    color: #7f7f7f;
}

.account :hover{
    color: #1e5ed6;
}

.communication :hover{
    color: #1e5ed6;
}
.hiring :hover{
    color: #1e5ed6;
}
.others :hover{
    color: #1e5ed6;
}
.profile{
    display: flex;
    margin-top: 140px;
    border-top: 1px solid #e2e2e2;
    align-items: center;
    
}

.profile p{
    font-size: 10px;
    font-weight: 300;
}
.profile img{
    padding: 7px;
}

.main-container{
    height: 100%;
    margin-left: 300px;
    background-color: #e9effb;
    border-radius: 10px;
    margin-top: 106px; 
}
.main-dashboard-header{
    display: flex;
    flex-direction: column;
}

.dashboard-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}


.dashboard-titles h2 {
    color: #1e5ed6
}

.edit-profile{
    padding: 8px 7px;
    background-color: #1e5ed6;
    border: 1px solid #1e5ed6;
    color: white;
    border-radius: 8px;
}

.browse-job{
    padding: 8px 7px;
    background-color: white;
    border: 1px solid #1e5ed6;
    color: #1e5ed6;
    border-radius: 8px;
}

.complete-profile{
    padding: 8px 7px;
    background-color: white;
    padding:10px 30px ;
    margin-left: 30px;
    width: 1005px;
    border-radius: 8px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.complete-profile-progress{
    width: 700px;
}

.complete-profile-progress p{
    font-size: 14px;
    font-weight: 200;
}
.complete-profile-btn{
    height: 30px;
    width: 150px;
    background-color: #1e5ed6;
    border: 1px solid #1e5ed6;
    color: white;
    border-radius: 8px;
}

.progress-bar{
    width: 100%;
    height: 6px;
    background-color: #dde7f9;
    border-radius: 10px;
    overflow: hidden;
}

.progress-fill{
    width: 65%;
    height: 100%;
    background-color: #1e5ed6;
    border-radius: 10px;
}

.profile-icon i{
    font-size: 40px;
}

.stat-row{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
   
}

.stat-card{
    padding: 10px 150px;
    background-color: white;
    border-left: 8px solid #0d9467;
    padding-left: 15px;
    gap: 5px;
    border-radius: 5px;
}

.stat-card p{
    font-size: 12px;
    color: #8a8a8a;
}

.stat-card h6{
 color:#8a8a8a;
}

.stat-card h4{
    color: #4a4a4a;
}