*{
    padding: 0;
    margin: 0;
    box-sizing: border;
}

html{
    font-size: 62.5%; /* 10px = 1rem */
}
body{
    font-size: 2.2rem;
    font-family: "Montserrat", sans-serif;
}

.gridbox{
    display: grid;
    height: 100vh;
    grid-template-columns: 35.1rem 108.9rem;
    grid-template-rows: 1fr;
    
}

.section1{
    display: flex;
    flex-direction: column;
    padding: 8rem 2rem 2rem;
    color: rgba(0,0,0,0.5);
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 4rem;
}

.logo1{
    width: 7.05rem;
    height: 3.7rem;
    position: relative;
    left: 3rem;
}

.menu{
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: auto;
    font-size: 1.6rem;
}

.section1 a{
    text-decoration: none;
    color: rgba(0,0,0,0.5);
    padding: 0.5rem;
    font-weight: medium;
}

.section1 i{
    font-weight: medium;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding:0.8rem 0.8rem;
    border-bottom: 1px solid #E2E2E2;
}

.job-listings{
    display: flex;
    align-items: center;
    gap: 11rem;
}

.jl-new{
    padding: 0.2rem 0.5rem;
    border-radius: 0.8rem;
    color: #FFFFFF;
    background-color: #4A4A4A;
    font-weight: Medium;
}

.applications{
    display: flex;
    align-items: center;
    gap: 10.2rem;
}

.appl i,
.appl a{
    color: #1E5ED6;
}

.appl-num{
    background-color: #10B981;
    color: #FFFFFF;
    padding: 0.1rem 0.5rem;
    border-radius: 2rem;
}

.num{
    padding: 0.1rem 0.5rem;
    border-radius: 2rem;
    color: rgba(0,0,0,0.5);
    background-color: #D9D9D9;
}

.hiring{
    padding:1.6rem 1rem;
    border-bottom: 1px solid #E2E2E2;
    gap: 1.2rem;
    display: flex;
    flex-direction: column;
}

.hir{
    display: flex;
    align-items: center;
    gap: 14rem;
}

.communication{
    padding:1.6rem 1rem;
    border-bottom: 1px solid #E2E2E2;
    gap: 1.2rem;
    display: flex;
    flex-direction: column;
}

.msg{
    display: flex;
    align-items: center;
    gap: 14rem;
}

.account{
    padding:1.6rem 1rem;
    gap: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.notif{
    display: flex;
    align-items: center;
    gap: 12.6rem;
}

.option{
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.section2{
    background-color: rgba(30, 94, 214, 0.05);
    padding: 8rem 2rem 0rem;
}

.middle-header{
    display: flex;
    align-items: center;
}

.my-applied{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    align-items: flex-start;
    margin-right: auto;
}

.profile-info{
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.name{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.name h3{
    color: #1E5ED6;
    font-weight: bold;
}

.name p{
    color: #8A8A8A;
}

.applied{
    color: #1E5ED6;
    font-weight: bold;
    font-size: 2.4rem;
}

.fltr-btns{
    gap: 1rem;
    display: flex;
    margin-bottom: 2rem;
}

.fltr-btn{
    padding: 0.8rem 1rem;
    border-radius: 0.8rem;
    color: #1E5ED6;
    text-align: center;
    border: 1px solid #1E5ED6;
    background: none;
    font-weight: medium;
}

.fltr-btn:active{
    background-color: #1E5ED6;
    color: #FFFFFF;
}

.ranking{
    background: none;
    border: 1px solid #000000;
    padding: 0.8rem 1.6rem;
    border-radius: 0.8rem;
    font-weight: medium;
}

.listings{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 132px);
    grid-row-gap: 2.4rem;
}


.brand{
    background-color: #FFFFFF;
    padding: 1.2rem 1.2rem;
    border-radius: 0.8rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
}


.left-details{
    display: flex;
    gap: 3.2rem;
}

.konga-logo{
    background-color: rgba(238, 0, 136, 0.4);
    border-radius: 0.8rem;
    padding: 1rem;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.details h3{
    font-weight: bold;
}

.loc-and-views{
    display: flex;
    gap: 0.8rem;
    font-size: 1.3rem;
    color: rgba(0,0,0,0.5);
}

.loc,
.views{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.info{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 1.3rem;
    color: #808080;
}

.flutterwave-logo{
    background-color: #A2CEF2;
    border-radius: 0.8rem;
    padding: 1rem;
}

.paystack-logo{
    border-radius: 0.8rem;
    padding: 1.3rem;
    background-color: #F4F4F4;
}

.google-logo{
    border-radius: 0.8rem;
    padding: 1rem;
    background-color: rgba(48, 134, 255, 0.15);
}

.github-logo{
    border-radius: 0.8rem;
    padding: 1.3rem;
    background-color: #D9D9D9;
}

.anthropic-logo{
    border-radius: 0.8rem;
    padding: 1rem;
    background-color: #D9D9D9;
}

.right-details{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.appl-status{
    color: rgba(0, 0, 0, 0.5);
}

.appl-stats{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.appl-sent{
    width: 27.4rem;
    padding: 0.8rem 1rem;
    color: #1E5ED6;
    background-color: rgba(30, 94, 214, 0.15);
    border-radius: 0.8rem;
    text-align: center;
}

.appl-stat{
    width: 27.4rem;
    padding: 0.8rem 1rem;
    color: #FFFFFF;
    background-color: #1E5ED6;
    border-radius: 0.8rem;
    text-align: center;
}

.appl-pend{
    width: 27.4rem;
    padding: 0.8rem 1rem;
    color: #D6C11E;
    background-color: rgba(214, 193, 30, 0.15);
    border-radius: 0.8rem;
    text-align: center;
}

.appl-rej{
    width: 27.4rem;
    padding: 0.8rem 1rem;
    color: #E23535;
    background-color: rgba(226, 53, 53, 0.15);
    border-radius: 0.8rem;
    text-align: center;
}

.appl-acc{
    width: 27.4rem;
    padding: 0.8rem 1rem;
    color: #10B981;
    background-color: rgba(16, 185, 129, 0.15);
    border-radius: 0.8rem;
    text-align: center;
}