*{
    padding: 0;
    margin: 0;
    box-sizing: border;
}

html{
    font-size: 62.5%; /* 10px = 1rem */
}
body{
    font-size: 2.2rem;
    font-family: "Montserrat", sans-serif;
}

.gridbox{
    display: grid;
    height: 100vh;
    grid-template-columns: 36rem 66rem 42rem;
    grid-template-rows: 1fr;
    
}

.section1{
    display: flex;
    flex-direction: column;
    padding: 8rem 2rem 2rem;
    color: rgba(0,0,0,0.5);
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 4rem;
}

.logo1{
    width: 7.05rem;
    height: 3.7rem;
    position: relative;
    left: 3rem;
}

.menu{
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: auto;
    font-size: 1.6rem;
} 

.section1 a{
    text-decoration: none;
    color: rgba(0,0,0,0.5);
    padding: 0.5rem;
    font-weight: medium;
}

.section1 i{
    font-weight: medium;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding:0.8rem 0.8rem;
    border-bottom: 1px solid #E2E2E2;
}

.job-listings{
    display: flex;
    align-items: center;
    gap: 11rem;
}

.jl i,
.jl a{
    color: #1E5ED6;
}

.jl-new{
    padding: 0.2rem 0.5rem;
    border-radius: 0.8rem;
    color: #FFFFFF;
    background-color: #10B981;
    font-weight: Medium;
}

.applications{
    display: flex;
    align-items: center;
    gap: 10.2rem;
}

.num{
    padding: 0.1rem 0.5rem;
    border-radius: 2rem;
    background-color: #D9D9D9;
    color: rgba(0,0,0,0.5);
}

.hiring{
    padding:1.6rem 1rem;
    border-bottom: 1px solid #E2E2E2;
    gap: 1.2rem;
    display: flex;
    flex-direction: column;
}

.hir{
    display: flex;
    align-items: center;
    gap: 14rem;
}

.communication{
    padding:1.6rem 1rem;
    border-bottom: 1px solid #E2E2E2;
    gap: 1.2rem;
    display: flex;
    flex-direction: column;
}

.msg{
    display: flex;
    align-items: center;
    gap: 14rem;
}

.account{
    padding:1.6rem 1rem;
    gap: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.notif{
    display: flex;
    align-items: center;
    gap: 12.6rem;
}

.option{
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.profile-info{
    display: flex;
    gap: 0.8rem;
    border-top: 1px solid #E2E2E2;
    padding: 3rem 0.4rem;
}

.name{
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
}

.name h3{
    color: #1E5ED6;
    font-weight: bold;
}

.name p{
    color: #8A8A8A;
}

.section2{
    background-color: rgba(30, 94, 214, 0.05);
    padding: 8rem 2rem 0rem;
}

.middle-header{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    align-items: flex-start;
}

.heading{
    color: #1E5ED6;
    font-weight: bold;
}

.search{
    display: flex;
    padding: 0.9rem 10.5rem 0.9rem 1.2rem;
    background-color: #FFFFFF;
    border-radius: 1.2rem;
    gap: 0.5rem;
    align-items: center;
    color: rgba(0,0,0,0.5);
    width: 62.6rem;
    height: 4.8rem;
}

.search:focus{
    outline-color: #1E5ED6;
    border-color: #1E5ED6;
    color: rgba(0,0,0,0.7);
    font-size: 1.8rem;
    font-weight: 700;
}

::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    padding: 1rem;
}

.filters{
    display: flex;
    gap: 3rem;
    margin-bottom: 2rem;
}
.fltr-btns{
    gap: 0.8rem;
}

.fltr-btn{
    padding: 0.8rem 1rem;
    border-radius: 0.8rem;
    color: #1E5ED6;
    text-align: center;
    border: 1px solid #1E5ED6;
    background: none;
    font-weight: medium;
}

.fltr-btn:active{
    background-color: #1E5ED6;
    color: #FFFFFF;
}

.clr-fltr{
    background: none;
    border: none;
    color: #1E5ED6;
    padding: 0.8rem 1rem;
    font-weight: medium;
}

.filtering{
    display: flex;
    gap: 22.4rem;
    align-items: center;
    font-size: 1.6rem;
    margin-bottom: 3.2rem;
}

.tabs{
    display: flex;
    gap: 1.6rem;
}

.tab{
    color: #000000;
    font-weight: bold;
    border: none;
    background: none;
}

.tab.active{
    color: #1E5ED6;
    font-weight: bold;
}

.sort{
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.sort p{
    font-weight: bold;
    color: #000000;
}

.hidden {
  display: none;
}

#sortOptions {
  background: white;
  border: 1px solid #ccc;
  width: 180px;
  position: absolute;
  padding: 10px;
}

#sortOptions p {
  cursor: pointer;
  padding: 5px;
}

#sortOptions p:hover {
  background: #eee;
}

.ranking{
    background: none;
    border: 1px solid #000000;
    padding: 0.8rem 1.6rem;
    border-radius: 0.8rem;
    font-weight: medium;
}

.listings{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 132px);
    grid-row-gap: 2.4rem;
}

.job-card{
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    background-color: #FFFFFF;
    padding: 1.6rem;
    border-radius: 0.8rem;
}

.left-details{
    display: flex;
    gap: 3.2rem;
}

.konga{
    border: 1px solid #1E5ED6;
}

.konga-logo{
    background-color: rgba(238, 0, 136, 0.4);
    border-radius: 0.8rem;
    padding: 1rem;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.details h3{
    font-weight: bold;
}

.loc-and-views{
    display: flex;
    gap: 0.8rem;
    font-size: 1.3rem;
    color: rgba(0,0,0,0.5);
}

.loc,
.views{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.info{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 1.3rem;
    color: #808080;
}

.right-details{
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}

.icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.6rem;
}

.job-info{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-size: 1.2rem;
    color: rgba(0,0,0,0.5);
    font-weight: regular;
}

.salary{
    font-size: 1.6rem;
    color: #000000;
    font-weight: bold;
}

.flutterwave-logo{
    background-color: #A2CEF2;
    border-radius: 0.8rem;
    padding: 1.3rem;
}

.paystack-logo{
    border-radius: 0.8rem;
    padding: 1.3rem;
    background-color: #F4F4F4;
}

.google-logo{
    border-radius: 0.8rem;
    padding: 1rem;
    background-color: rgba(48, 134, 255, 0.15);
}

.github-logo{
    border-radius: 0.8rem;
    padding: 1.3rem;
    background-color: #D9D9D9;
}

.anthropic-logo{
    border-radius: 0.8rem;
    padding: 1.3rem;
    background-color: #D9D9D9;
}

.section3{
    padding: 8rem 4rem 0rem;
} 

.job-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2.4rem;
    margin-bottom: 1.6rem;
}

.qualifications{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    border-bottom: 2px solid #D9D9D9;
    border-top: 2px solid #D9D9D9;
    padding: 1.6rem 0rem;
}

.minimum,
.preferred{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 0rem 2rem;
}
.minimum h3,
.preferred h3{
    font-weight: bold;
    color: #000000;
    font-size: 1.6rem;
}

.min-quali,
.pref-quali{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.min-quali li,
.pref-quali li{
    list-style: none;
    font-size: 1.6rem;
    color: rgba(0,0,0,0.5);
}

.about-the-job{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    border-bottom: 2px solid #D9D9D9;
    padding: 1.6rem 2rem;
    margin-bottom: 1.2rem;
}

.about{
    font-size: 1.6rem;
    color: #000000;
}

.about2{
    font-size: 1.6rem;
    color: rgba(0,0,0,0.5);
}

.read-more{
    background: none;
    border: none;
    color: #1E5ED6;
    padding: 0.8rem 1rem;
    font-weight: medium;
    font-size: 1.2rem;
}

.apply{
    display: flex;
    gap: 1.2rem;
    margin-top: 2rem;
}

.apply a{
    text-decoration: none;
    color: #FFFFFF;
}

.apply-btn{
    width: 27.4rem;
    padding: 0.8rem 1rem;
    color: #FFFFFF;
    background-color: #1E5ED6;
    border-radius: 0.8rem;
    text-align: center;
    font-weight: bold;
}

.mesg{
    background-color: #10B981;
    border-radius: 0.8rem;
    padding: 1rem;
}
